
@keyframes rotating {
    
    0% {
        transform: rotate(0deg) scale(1.2);
    }
    50% {
        transform: rotate(180deg)  scale(0.9);
    }
    100%{
        transform: rotate(360deg) scale(1.2);
    }
    
}

.colorblob{
    
    background-color: white;
    height: 500px;
    width: 700px;
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    
    z-index: -1;
    background: linear-gradient(
        to left,
        rgb(184, 255, 148),
        rgb(193, 183, 255)

    );
    border-radius: 50%;
    
    animation: linear 5s rotating 1s infinite;
    
}



