.ChattingContent{
    display: flex;
    align-items: center;
    justify-self: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Title{
    background-color: rgb(39, 39, 61);
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.chatPlace{
    width: 100%;
    height: 90%;
    background-color: #111118;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.ChattingBox{
    width: 90%;
    height: 100%;
    background-color: rgb(39, 39, 61);
    border-radius: 10px;
    color: white;
    border: none;

}

.ChatBox{
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.3rem;
    background-color: #111118;

    
}
.SendBtn{
    height: 100%;
}
.ChatMsg{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.userName{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: start;
    font-weight: bold;
    font-size: 25px;
}