



.SearchBoxContainer input{
    width: 100%;
    border-radius: 20px;
    /* height: 50px; */
    border: none;
    background-color: rgb(39, 39, 61);
    color: white;
    padding: 25px;
    font-size: 20px;
    font-family: 'Outfit';
    
}

.SearchBoxContainer{
    width: 100%;
    display: flex;
    position: relative;
}
.SearchBoxContainer span{
    position: absolute;
    font-size: 25px;
    right: 0;
    padding: 25px;
    display: flex;
    font-weight: bold;
    opacity: 0.7;
    
}
.line{
    width: 2px;
    height: 25px;
    background-color: white;
    margin-right: 15px;
}
.SearchIcon{
    cursor: pointer;
}