.SignUpPage{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.chatHome{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;

}
.homeContent{
    display: flex;
    align-items: center;
    justify-content: end;
}
.ChatContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.HomePage{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin-bottom: 3%; */

}

.AccountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
}